<a href="https://colab.research.google.com/github/DianaCrown/DATA-G17A/blob/main/reto_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crear las siguientes variables.

* Una variable donde asignes el nombre de una película
* Una variable que contenga los primeros 4 decimales de PI
* Una variable que contenga la cantidad de mascotas que tienes

In [ ]:
pelicula = "La risa en vacaciones"

In [ ]:
pi = 3.1416

In [ ]:
mascotas = 3

Imprime los siguientes mensajes utilizando format de tal manera que el resultado sea parecido a lo siguiente:

```bash
La película que elegi es Harry Potter
````

```bash
El valor de pi es 3.1416
````

```bash
La cantidad de mascotas que tengo son 2
````

In [ ]:
print(f"La película que elegí es {pelicula}")

La película que elegí es La risa en vacaciones

In [ ]:
print(f'El valor de pi es {pi}')

El valor de pi es 3.1416

In [ ]:
print(f'La cantidad de mascotas que tengo son {mascotas}')

La cantidad de mascotas que tengo son 3

Crea una tabla utilizando f strings donde salgan 3 empleos aleatorios, sus respectivos sueldos y el país donde radican.

In [ ]:
import random

empleo = {"Titulo": ["Abogado", "Medico", "Veterinario"], "Sueldo": [12000, 20000, 15000], "Pais": ["EU", "Colombia", "Mexico"]}
print(f""" 
|  Empleo   |   Sueldo   |   Pais   |
-------------------------------
| {random.choice(empleo["Titulo"])}  |  {random.choice(empleo["Sueldo"])}  |  {random.choice(empleo["Pais"])}  |
| {random.choice(empleo["Titulo"])}  |  {random.choice(empleo["Sueldo"])}  |  {random.choice(empleo["Pais"])}  |
| {random.choice(empleo["Titulo"])}  |  {random.choice(empleo["Sueldo"])}  |  {random.choice(empleo["Pais"])}  |
""")

|  Empleo   |   Sueldo   |   Pais   |
-------------------------------
| Veterinario  |  15000  |  Mexico  |
| Veterinario  |  12000  |  EU  |
| Veterinario  |  20000  |  Mexico  |

Desarrolla un programa donde pida 2 números y devuelva la suma, resta, multiplicación y división de los mismos.

In [ ]:
num1, num2 = int(input('Ingresa el primer número: ')), int(input('Ingresa el segundo número: '))
print (f'Suma: {num1+num2}')
print (f'Resta: {num1-num2}')
print (f'División: {num1*num2}')
print (f'Multiplicación: {num1/num2}')

Ingresa el primer número: 10
Ingresa el segundo número: 2
Suma: 12
Resta: 8
División: 20
Multiplicación: 5.0

Crea una lista con 4 colores y despues ejecuta las siguientes lineas de código:

In [ ]:
colores = ['verde','azul','rojo','amarillo']

In [ ]:
print(f"El color 0 es {colores[0]}")
print(f"El color 1 es {colores[1]}")
print(f"El color 2 es {colores[2]}")
print(f"El color 3 es {colores[3]}")

El color 0 es verde
El color 1 es azul
El color 2 es rojo
El color 3 es amarillo

Crea una lista con 4 ciudades y utilizando Slice, que aparezcan las 2 de enmedio

In [ ]:
ciudades = ['CdMx','Guadalajara','Acapulco','Cancún']
print(ciudades[1:3])

['Guadalajara', 'Acapulco']

De nuestra lista de ciudades, imprime la ultima ciudad

In [ ]:
print(ciudades[3])

Cancún

Agrega los siguientes datos a tu lista de colores: "Morado", "Rosa"

In [ ]:
colores.append('Morado')

In [ ]:
colores.append('Rosa')

La siguiente lista contiene las alturas de 15 niños de cuarto grado, sacr el promedio de alturas.

In [ ]:
alturas = [1.35, 1.56, 1.42, 1.22, 1.37, 1.23, 1.40, 1.25, 1.22, 1.37, 1.30, 1.15, 1.24, 1.31, 1.17]

In [ ]:
suma = sum(alturas)
cantidad = len(alturas)
promedio = suma/cantidad
print(promedio)

1.304

Obten la altura mas chica del grupo

In [ ]:
print(min(alturas))

1.15

Obten la altura más alta del grupo

In [ ]:
print(max(alturas))

1.56

Crea un diccionario de perros, donde lleva 2 claves: Nombre y Raza

In [ ]:
perros = {'Nombre': 'Dogui', 'Raza':'Chihuahua'}

Agrega una clave llamada Edad a nuestro diccionario y asignale un valor

In [ ]:
perros

# Nueva sección

Crea 2 diccionarios de perro más incluyendo el valor edad.

Crea una lista llamada mascotas y dentro de los corchetes, agrega los 3 diccionarios